.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/1400x560.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 120px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 3470px;
}

.u-section-2 .u-custom-html-1 {
  height: auto;
  min-height: 197px;
  margin-top: 38px;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  --radius: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 14px auto 0;
  padding: 6px 39px 7px 37px;
}

.u-section-2 .u-icon-1 {
  font-size: 2.1112em;
  margin-right: 12px;
  vertical-align: -15px;
}

.u-section-2 .u-custom-html-2 {
  height: auto;
  min-height: 228px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 992px;
  height: 483px;
  margin: 30px auto 0 71px;
}

.u-section-2 .u-custom-html-3 {
  margin-top: 30px;
  margin-bottom: 0;
  height: auto;
  min-height: 407px;
}

.u-section-2 .u-video-1 {
  width: 881px;
  height: 551px;
  margin: 33px auto 0;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-custom-html-4 {
  height: auto;
  min-height: 199px;
  margin-top: 53px;
  margin-bottom: 0;
}

.u-section-2 .u-text-1 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-2 .u-accordion-1 {
  margin-top: 20px;
  margin-bottom: 60px;
}

.u-section-2 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-custom-html-5 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-6 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-custom-html-7 {
  height: auto;
  min-height: 69px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-icon-2 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-4 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-custom-html-8 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-5 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-custom-html-9 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-4 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-6 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-custom-html-10 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-7 {
  min-height: 158px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-custom-html-11 {
  height: auto;
  min-height: 98px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-icon-6 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-8 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px;
}

.u-section-2 .u-custom-html-12 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-7 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-9 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px;
}

.u-section-2 .u-custom-html-13 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-8 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-10 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px;
}

.u-section-2 .u-custom-html-14 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-9 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-11 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px;
}

.u-section-2 .u-custom-html-15 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-10 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-12 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-12 {
  padding: 30px;
}

.u-section-2 .u-custom-html-16 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-11 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-13 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-13 {
  padding: 30px;
}

.u-section-2 .u-custom-html-17 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-12 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-14 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-14 {
  padding: 30px;
}

.u-section-2 .u-custom-html-18 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-2 .u-icon-13 {
  height: 20px;
  width: 20px;
}

.u-section-2 .u-accordion-pane-15 {
  min-height: 150px;
}

.u-section-2 .u-container-layout-15 {
  padding: 30px;
}

.u-section-2 .u-custom-html-19 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3445px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 458px;
    margin-left: 0;
  }

  .u-section-2 .u-custom-html-7 {
    width: 880px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 880px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3237px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 351px;
  }

  .u-section-2 .u-video-1 {
    width: 720px;
    height: 450px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3037px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 263px;
  }

  .u-section-2 .u-video-1 {
    width: 540px;
    height: 338px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2815px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 166px;
  }

  .u-section-2 .u-video-1 {
    width: 340px;
    height: 213px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-11 {
    width: 320px;
  }
}
