.u-section-1 .u-image-1 {
  min-height: 400px;
  background-image: url("images/1400x560.png");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    min-height: 190px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    min-height: 120px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 2930px;
}

.u-section-2 .u-custom-html-1 {
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-2 .u-custom-html-2 {
  margin-top: 14px;
  margin-bottom: 0;
  height: auto;
  min-height: 126px;
}

.u-section-2 .u-custom-html-3 {
  height: auto;
  min-height: 403px;
  margin-top: 14px;
  margin-bottom: 0;
}

.u-section-2 .u-image-1 {
  width: 992px;
  height: 741px;
  margin: 20px auto 0;
}

.u-section-2 .u-custom-html-4 {
  margin-top: 65px;
  margin-bottom: 0;
  height: auto;
  min-height: 1112px;
}

.u-section-2 .u-btn-1 {
  --radius: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 2px;
  margin: 38px auto 60px;
  padding: 6px 39px 7px 37px;
}

.u-section-2 .u-icon-1 {
  font-size: 2.1112em;
  margin-right: 12px;
  vertical-align: -15px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2891px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 703px;
  }

  .u-section-2 .u-custom-html-3 {
    margin-top: 738px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 702px;
    margin-top: 1334px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -2645px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2727px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 728px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 538px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -2596px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -79px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2593px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 636px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 404px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -2485px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -155px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2443px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-top: 270px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 254px;
  }

  .u-section-2 .u-custom-html-4 {
    margin-top: -2568px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -592px;
  }
}